{% extends "layout.html" %}
{% block body %}



  <!-- Page Header -->
  
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Dedicated to everyone who thinks I'm writing about them. I am :))</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	<p>If you want to know about us you are looking at the right place.A billion years ago the world was created and here we are after a couple of hundred thousand years trying to live and survive.And what better way there is to survive than to log your poetic experience of each and every step of your life.And if you're logging it why not share it with the world.Our motive is to touch the world with our word's literally.So as to the people suffering,exploring, enduring doesn't feel that they are alone.And to encourage people to peruse their passion no matter how small it is
And With luck and skills everything is possible</p>
      </div>
    </div>
  </div>

  


{% endblock %}